@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Cinema Archive Projesine Hoş Geldiniz!</h1>
    <p class="lead">Bu arşivde film bilgileri, yönetmenler, oyuncular ve yorumlara ulaşabilirsiniz.</p>

    <div class="mt-4">
        <a asp-controller="Movie" asp-action="Index" class="btn btn-primary btn-lg">Filmleri Görüntüle</a>
        <a asp-controller="Director" asp-action="Index" class="btn btn-secondary btn-lg">Yönetmenleri Görüntüle</a>
    </div>
</div>
